.controller.custom {
    background: url(./NeoGeo Stick Vectorizado BASE.png); 
    height: 727px;
    width: 1060px;
    /*    margin-left: -392px;
        margin-top: -259px;*/
}

.custom.disconnected {
    background: url(./NeoGeo Stick Desconectado.png);
}

.custom .triggers{
    width: 94px;
    height: 79px;
    position: absolute;
    left: 889px;
    top: 90px;
}
.custom .trigger{
    width:40px;
    height:79px;
    background: url(./Neo Geo Stick R1 R2.png);
    opacity: 0;
}
.custom .trigger.left{ 
    float: left;
}
.custom .trigger.right{
    float: right;

}
.custom .bumpers{
    width: 82px;
    height: 91px;
    position: absolute;
    left: 529px;
    top: 460px;
}
.custom .bumper{
    width:82px;
    height:37px;
    background: url(./Neo Geo Stick L1 L2.png);
}
.custom .bumper.left{ 
    float: left;
}
.custom .bumper.right{
    float: right;
}
.custom .bumper.pressed{
    background-position-x: -82px;
    margin-top: 0px;
}

.custom.disconnected div {
    display: none;   
}
.custom .quadrant{
   display: none;    
}

.custom .arrows{
    position: absolute;
    width: 199px;
    height: 31px;
    top: 94px;
    left: 427px;
}

.custom .back, .custom .start{
    background: url(./Neo Geo Stick Start Select.png);
    width: 199px;
    height: 31px;
}

.custom .back.pressed, .custom .start.pressed{
    background-position-y: -31px;
    margin-top: 0px;
}

.custom .back{
    float: left;
    width: 64px;
}

.custom .start{
    float: right;
    width: 68px;
    background-position: 68px 0;
}

.custom .abxy {
    position: absolute;
    width: 326px;
    height: 338px;
    top: 100px;
    left: 545px;
}

.custom .button {
    position: absolute;
    width:99px;
    height:99px;
    background: url(./NeoGeo Stick Boton.png);
}

.custom .button.pressed {
    background-position-x: -99px;
    margin-top: 0px;
}

.custom .a {
    background-position-y: 0px;
    top: 145px;
    left: 57px;
}

.custom .b {
    background-position-y: 99px;
    top: 0px;
    right: 0px;
}

.custom .x {
    background-position-y: 196px;
    top: 240px;
}

.custom .y {
    background-position-y: 295px;
    top: 62px;
    left: 137px;
}
.custom .sticks{
    position: absolute;
    width: 123px;
    height: 123px;
    top: 218px;
    left: 237px;
}
.custom .stick{
    position: absolute;
    background: url(./Neo Geo Stick Analogico.png) no-repeat;
    height: 123px;
    width: 123px;
}
.custom .stick.pressed.left{
    background-position-x: -270px;
}
.custom .stick.pressed.right {
    background-position-x: -229px;
}

.custom .stick.left{
    top: 0;
    left: 0;
}

.custom .stick.right {
    display: none;
    top: 0;
    left: 0;
}
.custom .dpad{
    display: none;
