.controller.custom {
    background: url(NeoGeo Arcade Stick/NeoGeo Stick Vectorizado BASE.png); 
    height: 727px;
    width: 1060px;
    /*    margin-left: -392px;
        margin-top: -259px;*/
}

.custom.disconnected {
    background: url(NeoGeo Arcade Stick/Neo Geo Base Disconected.png);
}

.custom .triggers{
    width: 94px;
    height: 79px;
    position: absolute;
    left: 889px;
}
.custom .trigger{
    width:40px;
    height:79px;
    background: url(NeoGeo Arcade Stick/Neo Geo Stick R1 R2.png);
}
.custom .trigger.left{ 
    float: left;
}
.custom .trigger.right{
    float: right;
}
.custom .trigger.pressed{
    background-position-y: -79px;
    margin-top: 5px;
}
.custom .bumpers{
    width: 82px;
    height: 91px;
    position: absolute;
    left: 529px;
}
.custom .bumper{
    width:82px;
    height:37px;
    background: url(NeoGeo Arcade Stick/Neo Geo Stick L1 L2.png);
}
.custom .bumper.left{ 
    float: left;
}
.custom .bumper.right{
    float: right;
}
.custom .bumper.pressed{
    background-position-x: -82px;
    margin-top: 0px;
}

.custom.disconnected div {
    display: none;   
}
.custom .quadrant{
   display: none;    
}

.custom .arrows{
    position: absolute;
    width: 76px;
    height: 145px;
    top: 160px;
    left: 385px;
}

.custom .back, .custom .start{
    background: url(NeoGeo Arcade Stick/Neo Geo Stick Start Select.png);
    width: 199px;
    height: 31px;
}

.custom .back.pressed, .custom .start.pressed{
    background-position-y: -31px;
    margin-top: 0px;
}

.custom .back{
    float: left;
    width: 64px;
}

.custom .start{
    float: right;
    width: 64px;
    background-position: 0px 0;
}

.custom .abxy {
    position: absolute;
    width: 652px;
    height: 338px;
    top: 100px;
    left: 545px;
}

.custom .button {
    position: absolute;
    width:99px;
    height:99px;
    background: url(NeoGeo Arcade Stick/Neo Geo Stick axyb.png);
}

.custom .button.pressed {
    background-position-x: -326px;
    margin-top: 0px;
}

.custom .a {
    background-position: 78px 0;
    top: 142px;
    left: 71px;
}

.custom .b {
    background-position: 157px 0;
    top: 71px;
    right: 0px;
}

.custom .x {
    background-position: 0 0;
    top: 71px;
}

.custom .y {
    background-position: -78px 0;
    left: 71px;
}
.custom .sticks{
    position: absolute;
    width: 123px;
    height: 123px;
    top: 218px;
    left: 237px;
}
.custom .stick{
    position: absolute;
    background: url(https://imgur.com/m6M4hvF.png) no-repeat;
    height: 123px;
    width: 123px;
}
.custom .stick.pressed.left{
    background-position-x: -270px;
}
.custom .stick.pressed.right {
    background-position-x: -229px;
}

.custom .stick.left{
    top: 0;
    left: 0;
}

.custom .stick.right {
    display: none;
    top: 0;
    left: 0;
}
.custom .dpad{
    display: none;
